@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    //auto refresh kafka consumer script
    var timer;
    $(document).ready(function () {
        InitConsumer();
    });
    function InitConsumer() {
        $("#initconsumer").on("click", function () { timer = setInterval("$('#logArea').load('/Kafka/InitConsumer')", 3000); });
    }

    $(document).ready(function () {
        DeleteConsumer();
    });
    function DeleteConsumer() {
        $("#deleteconsumer").on("click", function () {
            clearInterval(timer);
            $.ajax({
                url: '/Kafka/DeleteConsumer'
            });
        });

    }
</script>


<h2>Index</h2>

<table border=1 width=500 cellpadding=10>
    <tr>
        <td colspan="2">
            <p>View sensor data as it is stored within Kafka. Note the offset, topic and partition information... More insight here... </p>
        </td>

    </tr>
    <tr>
        <td>
            <p><input type="button" id="initconsumer" name="initconsumer" value="Start Consumer" /></p>
        </td>
        <td>
            <p><input type="button" id="deleteconsumer" name="deleteconsumer" value="Stop Consumer" /></p>
        </td>
    </tr>
    <tr>
        <td colspan=2 id="logArea" >

        </td>
    </tr>
</table>




