@{
    ViewBag.Title = "Client";
}
    <div class="container">
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Client
                    <small>Windows 10 IoT</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/Content/Images/Front700x400.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Front View</a>
                </h3>
                <p>Our client runs on Windows 10 IoT core on a Raspberry Pi. </p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/Content/Images/Back700x400.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Rear View</a>
                </h3>
                <p>The client supports a 7in. touch display, 3xUSB and WiFi.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/Content/Images/Sensors700x400.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Sensor Breadboard</a>
                </h3>
                <p>The current sensors (temperature, humidity, pressure, and light/color) are connected via I2C to the RPi </p>
            </div>
        </div>
        <!-- /.row -->
        <!-- Main component for a primary marketing message or call to action -->
        <div class="container-fluid">
            <p>tech stuff goes here, networking, REST etc. </p>
        </div>

    </div> <!-- /container -->



